{% extends "layout.html" %} {% block content %}
<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <legend class="border-bottom mb-4"><i class="menu-icon mdi mdi-account-circle"></i> {{ title }}</legend>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive table-hover">
                        <table id="order-listing" class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <font size="2" color="#4f565d"><b>账号编号</b></font>
                                    </th>
                                    <th>
                                        <font size="2" color="#4f565d"><b>账号名称</b></font>
                                    </th>
                                    <th>
                                        <font size="2" color="#4f565d"><b>邮箱地址</b></font>
                                    </th>
                                    <th>
                                        <font size="2" color="#4f565d"><b>创建日期</b></font>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for account in accounts %}
                                <tr role="row" class="odd">
                                    <td> {{ account.id }}</td>
                                    <td>{{ account.username }}</td>
                                    <td>{{ account.email }}</td>
                                    <td>{{ account.create_time.strftime("%Y-%m-%d") }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}