<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>嘉善国投资产管理系统</title>
    <!-- plugins:css -->
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="static/assets/css/shared/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="static/assets/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <h3 style="color:#bfcdd4;text-align:center"> 嘉善国投资产管理系统 </h3>
                        <p style="color:#0aa5f3;text-align:center">Tuozhan RMS</p>

                            {% block content %}{% endblock %}
                        
                        <ul class="auth-footer">
                            <li>
                                <a href="#"> 高效工作 </a>
                            </li>
                            <li>
                                <a href="#"> 简单生活 </a>
                            </li>
                            <li>
                                <a href="http://www.tuozhanad.com"> 拓展时代 </a>
                            </li>
                            <li>
                                <a href="http://www.ninecolordeer.com"> 九色鹿网络 </a>
                            </li>
                        </ul>
                        <p class="footer-text text-center">Copyright © 2018 嘉善国投. All rights reserved.</p>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <!-- endinject -->
</body>

</html>