{% extends "layout.html" %} {% block content %}
<div class="content-wrapper">
    <div class="row profile-page">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <legend class="border-bottom mb-4"><i class="menu-icon mdi mdi-image-filter-none"></i> {{ title }}</legend>
                    <div class="profile-header text-white">
                        <div class="d-flex justify-content-around">
                            <div class="profile-info d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                    <div class="profile-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tab-content tab-body" id="profile-log-switch">
                                    <div class="tab-pane fade show active pr-3" id="user-profile-info" role="tabpanel" aria-labelledby="user-profile-info-tab">
                                        <div class="row">
                                            <div class="col-sm-12 grid-margin stretch-card">
                                                <div class="card card-statistics">
                                                    <div class="card-body">
                                                        <table class="table table-borderless w-100 mt-4">
                                                            <tr>
                                                                <td>
                                                                    <h2>帐单编号 {{ bill.id }}</h2>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b> 合同编号 :</b> <a href="{{ url_for('posts.contract_info', contract_id=bill.contract_id) }}" >{{ bill.contract_id }}</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b> 帐单金额 :</b> {{ bill.bill_amount }}元</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b> 帐单期号 :</b> {{ bill.bill_sequence }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b> 帐单日期 :</b> {{ bill.bill_date.strftime("%Y-%m-%d") }}</td>
                                                            </tr>
                                                        </table>
                                                        <form method="POST" enctype="multipart/form-data">
                                                            <fieldset class="form-group">
                                                            </fieldset>
                                                            {{ form.hidden_tag() }}
                                                            <div class="form-group">
                                                                {{ form.submit(class="btn btn-outline-primary ") }}
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}