{% extends "layout.html" %} {% block content %}
<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <legend class="border-bottom mb-4"><i class="menu-icon mdi mdi-image-filter-none"></i> {{ title }}</legend>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="order-listing" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>合同编号</th>
                                    <th>房源地址</th>
                                    <th>房源面积</th>
                                    <th>租户名称</th>
                                    <th>合同类型</th>
                                    <th>年租金</th>
                                    <th>开始日期</th>
                                    <th>合同到期</th>
                                    <th>权利人</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contract in contracts %}
                                <tr role="row" class="odd">
                                    <td class="sorting_1">
                                        <a href="{{ url_for('posts.contract_info', contract_id=contract.id) }}" >{{ contract.id }}</a>
                                    </td>
                                    <td>{{ contract.address }}</td>
                                    <td>{{ contract.area }}</td>
                                    <td>{{ contract.customer_name }}</td>
                                    <td>{{ contract.contractype_name }}</td>
                                    <td>{{ contract.annual_rent }}元</td>
                                    <td>{{ contract.start_time.strftime('%Y-%m-%d') }}</td>
                                    {% if contract.end_time < current_time %}
                                    <td> <font color="red"> {{ contract.end_time.strftime('%Y-%m-%d') }} </font> </td>
                                    <!-- <td bgcolor="red">{{ contract.end_time.strftime('%Y-%m-%d') }}</td> -->
                                    {% else %}
                                    <td> {{ contract.end_time.strftime('%Y-%m-%d') }} </td>
                                    {% endif %}
                                    <td>{{ contract.landlord_name }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <button id="exportButton" class="btn btn-outline-primary">导出记录</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='assets/js/exportcsv/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/exportcsv/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/exportcsv/shieldui-all.min.js') }}"></script>
<script type="text/javascript">
jQuery(function($) {
    $("#exportButton").click(function() {
        // parse the HTML table element having an id=order-listing
        var dataSource = shield.DataSource.create({
            data: "#order-listing",
            schema: {
                type: "table",
                fields: {
                    合同编号: { type: String },
                    房源地址: { type: String },
                    房源面积: { type: String },
                    租户名称: { type: String },
                    合同类型: { type: String },
                    年租金: { type: String },
                    开始日期: { type: String },
                    合同到期: { type: String },
                    权利人: { type: String }
                }
            }
        });

        // when parsing is done, export the data to Excel
        dataSource.read().then(function(data) {
            new shield.exp.OOXMLWorkbook({
                author: "PrepBootstrap",
                worksheets: [{
                    name: "PrepBootstrap Table",
                    rows: [{
                        cells: [{
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "合同编号"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "房源地址"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "房源面积"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "租户名称"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "合同类型"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "年租金"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "开始日期"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "合同到期"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "权利人"
                            }
                        ]
                    }].concat($.map(data, function(item) {
                        return {
                            cells: [
                                { type: String, value: item.合同编号 },
                                { type: String, value: item.房源地址 },
                                { type: String, value: item.房源面积 },
                                { type: String, value: item.租户名称 },
                                { type: String, value: item.合同类型 },
                                { type: String, value: item.年租金 },
                                { type: String, value: item.开始日期 },
                                { type: String, value: item.合同到期 },
                                { type: String, value: item.权利人 }
                            ]
                        };
                    }))
                }]
            }).saveAs({
                fileName: "合同列表"
            });
        });
    });
});
</script>
{% endblock content %}