{% extends "layout.html" %} {% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row profile-page">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-header text-white">
                            <div class="d-flex justify-content-around">
                                <div class="profile-info d-flex align-items-center">
                                </div>
                            </div>
                        </div>
                        <div class="profile-body">
                            <ul class="nav tab-switch" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="user-profile-info-tab" data-toggle="pill" href="#user-profile-info" role="tab" aria-controls="user-profile-info" aria-selected="true"><i class="menu-icon mdi mdi-home-outline"></i> 合同资料</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="user-profile-activity-tab" data-toggle="pill" href="#user-profile-activity" role="tab" aria-controls="user-profile-activity" aria-selected="false"><i class="menu-icon mdi mdi-account-circle"></i> 其他信息</a>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content tab-body" id="profile-log-switch">
                                        <div class="tab-pane fade show active pr-3" id="user-profile-info" role="tabpanel" aria-labelledby="user-profile-info-tab">
                                            <div class="row">
                                                <div class="col-sm-6 grid-margin stretch-card">
                                                    <div class="card card-statistics">
                                                        <div class="card-body">
                                                            <table class="table table-borderless w-100 mt-4">
                                                                <tr>
                                                                    <td>
                                                                        <strong>合同编号 :</strong> CT-10001001101</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>签订日期  :</strong> 2018-10-01</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>结束日期  :</strong> 2020-10-01</td>
                                                                </tr>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 grid-margin stretch-card">
                                                    <div class="card card-statistics">
                                                        <div class="card-body">
                                                            <table class="table table-borderless w-100 mt-4">
                                                                <tr>
                                                                    <td>
                                                                        <strong>房源编号 :</strong> GT-WLHY-1010101</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>所属小区 :</strong> 万联花园</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>门牌号码 :</strong> 19-1-401</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 grid-margin stretch-card">
                                                    <div class="card card-statistics">
                                                        <div class="card-body">
                                                            <table class="table table-borderless w-100 mt-4">
                                                                <tr>
                                                                    <td>
                                                                        <strong>租户名称 :</strong> 欧阳小雪</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>证件类型 :</strong> 身份证</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>证件编号 :</strong> 330421XXXXXXXX15XX</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>联系方式 :</strong> 1385800360x</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>电子邮箱 :</strong> miaohf@sina.com</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>家庭住址 :</strong> 浙江省嘉善县罗星街道嘉善大道08号</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>所属单位 :</strong> 嘉善拓展时代广告传媒有限公司</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="user-profile-activity1" role="tabpanel" aria-labelledby="user-profile-activity-tab">
                                        <div class="owl-carousel owl-theme full-width">
                                            <div class="item">
                                                <div class="card text-white">
                                                    <img class="card-img" src="static/assets/images/contract02.jpg" alt="Card image">
                                                    <div class="card-img-overlay d-flex">
                                                        <div class="mt-auto text-center w-100">
                                                            <h3>Third Slide Label</h3>
                                                            <h6 class="card-text mb-4 font-weight-normal">Nulla vitae elit libero, a pharetra augue mollis interdum.</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="card text-white">
                                                    <img class="card-img" src="static/assets/images/contract02.jpg" alt="Card image">
                                                    <div class="card-img-overlay d-flex">
                                                        <div class="mt-auto text-center w-100">
                                                            <h3>Third Slide Label</h3>
                                                            <h6 class="card-text mb-4 font-weight-normal">Nulla vitae elit libero, a pharetra augue mollis interdum.</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="card text-white">
                                                    <img class="card-img" src="static/assets/images/contract02.jpg" alt="Card image">
                                                    <div class="card-img-overlay d-flex">
                                                        <div class="mt-auto text-center w-100">
                                                            <h3>Third Slide Label</h3>
                                                            <h6 class="card-text mb-4 font-weight-normal">Nulla vitae elit libero, a pharetra augue mollis interdum.</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="card text-white">
                                                    <img class="card-img" src="static/assets/images/contract02.jpg" alt="Card image">
                                                    <div class="card-img-overlay d-flex">
                                                        <div class="mt-auto text-center w-100">
                                                            <h3>Third Slide Label</h3>
                                                            <h6 class="card-text mb-4 font-weight-normal">Nulla vitae elit libero, a pharetra augue mollis interdum.</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
{% endblock content %}