{% extends "layout.html" %} {% block content %}
<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <legend class="border-bottom mb-4"><i class="menu-icon mdi mdi-contractype-circle"></i> {{ title }}</legend>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive table-hover">
                        <table id="order-listing" class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <font size="2" color="#4f565d"><b>类型编号</b></font>
                                    </th>
                                    <th>
                                        <font size="2" color="#4f565d"><b>类型名称</b></font>
                                    </th>
                                    <th>
                                        <font size="2" color="#4f565d"><b>创建日期</b></font>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contractype in contractypes %}
                                <tr role="row" class="odd">
                                    <td> {{ contractype.id }}</td>
                                    <td>{{ contractype.name }}</td>
                                    <td>{{ contractype.create_time.strftime("%Y-%m-%d") }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-8 grid-margin stretch-card"></div>
            <div class="col-sm-2 grid-margin stretch-card">
                <div>
                    <a href="{{ url_for('posts.contract_type')}}" class="btn btn-outline-primary float-right">新增类型</a>
                </div>
            </div>
            <div class="col-sm-2 grid-margin stretch-card">
                <div><button id="exportButton" class="btn btn-outline-primary float-right"><span class="fa fa-file-excel-o"></span> 导出文件</button></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}