{% extends "layout.html" %} {% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table">
                                        <thead>
                                            <tr role="row">
                                                <th>
                                                    <font size="2" color="#4f565d"><b>合同编号 #</b></font>
                                                </th>
                                                <th>
                                                    <font size="2" color="#4f565d"><b>房源编号</b></font>
                                                </th>
                                                <th>
                                                    <font size="2" color="#4f565d"><b>门牌号码</b></font>
                                                </th>
                                                <th>
                                                    <font size="2" color="#4f565d"><b>租户编号</b></font>
                                                </th>
                                                <th>
                                                    <font size="2" color="#4f565d"><b>租户名称</b></font>
                                                </th>
                                                <th>
                                                    <font size="2" color="#4f565d"><b>所属小区</b></font>
                                                </th>
                                                <th>
                                                    <font size="2" color="#4f565d"><b>开始日期</b></font>
                                                </th>
                                                <th>
                                                    <font size="2" color="#4f565d"><b>合同到期</b></font>
                                                </th>
                                        </thead>
                                        <tbody>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">
                                                    <a href="\contractinfo" data-toggle="tooltip" title="">CT102000205</a>
                                                </td>
                                                <td>GT-WYHY-120101</td>
                                                <td>19-1-401#</td>
                                                <td>CM10001101</td>
                                                <td>欧阳小雪</td>
                                                <td>万联花园</td>
                                                <td>2018-10-01</td>
                                                <td>2020-10-01</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">
                                                    <a href="\contractinfo" data-toggle="tooltip" title="">CT102000205</a>
                                                </td>
                                                <td>GT-WYHY-120101</td>
                                                <td>19-1-401#</td>
                                                <td>CM10001101</td>
                                                <td>欧阳小雪</td>
                                                <td>万联花园</td>
                                                <td>2018-10-01</td>
                                                <td>2020-10-01</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">
                                                    <a href="\contractinfo" data-toggle="tooltip" title="">CT102000205</a>
                                                </td>
                                                <td>GT-WYHY-120101</td>
                                                <td>19-1-401#</td>
                                                <td>CM10001101</td>
                                                <td>欧阳小雪</td>
                                                <td>万联花园</td>
                                                <td>2018-10-01</td>
                                                <td>2020-10-01</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">
                                                    <a href="\contractinfo" data-toggle="tooltip" title="">CT102000205</a>
                                                </td>
                                                <td>GT-WYHY-120101</td>
                                                <td>19-1-401#</td>
                                                <td>CM10001101</td>
                                                <td>欧阳小雪</td>
                                                <td>万联花园</td>
                                                <td>2018-10-01</td>
                                                <td>2020-10-01</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">
                                                    <a href="\contractinfo" data-toggle="tooltip" title="">CT102000205</a>
                                                </td>
                                                <td>GT-WYHY-120101</td>
                                                <td>19-1-401#</td>
                                                <td>CM10001101</td>
                                                <td>欧阳小雪</td>
                                                <td>万联花园</td>
                                                <td>2018-10-01</td>
                                                <td>2020-10-01</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">
                                                    <a href="\contractinfo" data-toggle="tooltip" title="">CT102000205</a>
                                                </td>
                                                <td>GT-WYHY-120101</td>
                                                <td>19-1-401#</td>
                                                <td>CM10001101</td>
                                                <td>欧阳小雪</td>
                                                <td>万联花园</td>
                                                <td>2018-10-01</td>
                                                <td>2020-10-01</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">
                                                    <a href="\contractinfo" data-toggle="tooltip" title="">CT102000205</a>
                                                </td>
                                                <td>GT-WYHY-120101</td>
                                                <td>19-1-401#</td>
                                                <td>CM10001101</td>
                                                <td>欧阳小雪</td>
                                                <td>万联花园</td>
                                                <td>2018-10-01</td>
                                                <td>2020-10-01</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}