{% extends "layout.html" %} {% block content %}
<div class="content-wrapper">
    <div class="row profile-page">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <legend class="border-bottom mb-4"><i class="menu-icon mdi mdi-image-filter-none"></i> {{ title }}</legend>
                    <div class="profile-header text-white">
                        <div class="d-flex justify-content-around">
                            <div class="profile-info d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                    <div class="profile-body">
                        <ul class="nav tab-switch" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="user-profile-info-tab" data-toggle="pill" href="#user-profile-info" role="tab" aria-controls="user-profile-info" aria-selected="true"><i class="menu-icon mdi mdi-image-filter-none"></i> 租赁合同资料</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="user-profile-activity-tab" data-toggle="pill" href="#user-profile-activity1" role="tab" aria-controls="user-profile-activity" aria-selected="false"><i class="menu-icon mdi mdi-image-filter"></i> 签字合同扫描件</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="user-profile-activity-tab" data-toggle="pill" href="#user-profile-activity2" role="tab" aria-controls="user-profile-activity" aria-selected="false"><i class="menu-icon mdi mdi-image-filter"></i> 拍卖资料扫描件</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="user-profile-activity-tab" data-toggle="pill" href="#user-profile-activity3" role="tab" aria-controls="user-profile-activity" aria-selected="false"><i class="menu-icon mdi mdi-finance"></i> 合同帐单</a>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tab-content tab-body" id="profile-log-switch">
                                    <div class="tab-pane fade show active pr-3" id="user-profile-info" role="tabpanel" aria-labelledby="user-profile-info-tab">
                                        <div class="row">
                                            <div class="col-sm-6 grid-margin stretch-card">
                                                <div class="card card-statistics">
                                                    <div class="card-body">
                                                        <table class="table table-borderless w-100 mt-4">
                                                            <tr>
                                                                <td>
                                                                    <b> 合同编号 :</b> {{ contract.id }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b> 签订日期 :</b> {{ contract.contract_start_time.strftime('%Y-%m-%d') }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b> 结束日期 :</b> {{ contract.contract_end_time.strftime('%Y-%m-%d') }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b> 房源编号 :</b> <a href="{{ url_for('posts.house_info', house_id=contract.house_id) }}" >{{ contract.house_id }}</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b> 详细地址 :</b> {{ contract.house_address }}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                            <div class="col-sm-6 grid-margin stretch-card">
                                                <div class="card card-statistics">
                                                    <div class="card-body">
                                                        <table class="table table-borderless w-100 mt-4">
                                                            <tr>
                                                                <td>
                                                                    <b> 租户编号 :</b> <a href="{{ url_for('posts.customer_info', customer_id=contract.customer_id) }}" >{{ contract.customer_id }}</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b> 租户姓名 :</b> {{ contract.customer_name }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b> 证件号码 :</b> {{ contract.customer_cardid }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b> 联系电话 :</b> {{ contract.customer_phone }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b> 家庭住址 :</b> {{ contract.customer_address }}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-9 grid-margin stretch-card"></div>
                                            <div class="col-sm-1 grid-margin stretch-card">
                                                <div>
                                                    {% if contract.contract_pics == 'default_contract.jpg' %}
                                                    <a href="{{ url_for('posts.update_contract', contract_id=contract.id) }}" >合同更新{{ contract.contract_id }}</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-1 grid-margin stretch-card">
                                                <div>
                                                    <a href="{{ url_for('posts.contract_demo', contract_id=contract.id) }}" >打印合同{{ contract.contract_id }}</a>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 grid-margin stretch-card">
                                                <div>
                                                    <a href="{{ url_for('posts.update_contract', contract_id=contract.id) }}" >合同续签{{ contract.contract_id }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="user-profile-activity1" role="tabpanel" aria-labelledby="user-profile-activity-tab">
                                        <div class="owl-carousel owl-theme full-width">
                                            {% for picture in contract_pics %}
                                            <div class="item">
                                                <div class="card text-white">
                                                    <img class="card-img" src="{{ url_for('static', filename='upload_path/photos/'+picture) }}" alt="Card image">
                                                    <div class="card-img-overlay d-flex">
                                                        <div class="mt-auto text-center w-100">
                                                            <h3>Third Slide Label</h3>
                                                            <h6 class="card-text mb-4 font-weight-normal">Nulla vitae elit libero, a pharetra augue mollis interdum.</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="user-profile-activity2" role="tabpanel" aria-labelledby="user-profile-activity-tab">
                                        <div class="owl-carousel owl-theme full-width">
                                            {% for picture in [contract.approval_pics, contract.auction_announcement, contract.auction_confirmation,] %}
                                            <div class="item">
                                                <div class="card text-white">
                                                    <img class="card-img" src="{{ url_for('static', filename='upload_path/photos/'+picture) }}" alt="Card image">
                                                    <div class="card-img-overlay d-flex">
                                                        <div class="mt-auto text-center w-100">
                                                            <h3>Third Slide Label</h3>
                                                            <h6 class="card-text mb-4 font-weight-normal">Nulla vitae elit libero, a pharetra augue mollis interdum.</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="user-profile-activity3" role="tabpanel" aria-labelledby="user-profile-activity-tab">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="horizontal-timeline">
                                                    <section class="time-frame">
                                                        <div class="col-12">
                                                            {% for contractbill in contractbills %}
                                                            <div class="d-flex align-items-start pb-3 border-bottom">
                                                                <div class="wrapper pl-4">
                                                                    <small>
                                                                    <td>
                                                                        {{ contractbill.id }}
                                                                    </td>
                                                                    <td>
                                                                        <a href="{{ url_for('posts.contract_info', contract_id=contractbill.contract_id) }}" >{{ contractbill.contract_id }}</a>
                                                                    </td>
                                                                    <td>{{ contractbill.contract_type }}</td>
                                                                    <td>{{ contractbill.bill_sequence }}</td>
                                                                    <td>{{ contractbill.bill_date.strftime("%Y-%m-%d") }}</td>
                                                                    <td>{{ contractbill.bill_amount }}</td>
                                                                    <td>
                                                                        {% if contractbill.status == 0 %}
                                                                        未缴
                                                                        {% elif contractbill.status == 1 %}
                                                                        已缴
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if contractbill.update_time is none %}
                                                                        {% else %}
                                                                        {{ contractbill.update_time.strftime("%Y-%m-%d") }}
                                                                        {% endif %}
                                                                    </td>
                                                                    </small>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}