{% extends "layout.html" %} {% block content %}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row profile-page">
            <div class="col-12">
                <h4 class="card-title">合同期限设定</h4>
                <div class="col-lg-6 grid-margin d-flex align-items-stretch">
                    <div class="row flex-grow">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-description">结束日期</p>
                                    <div id="datepicker-popup" class="input-group date datepicker">
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon input-group-append border-left">
                            <span class="mdi mdi-calendar input-group-text"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-description">结束日期</p>
                                    <div id="datepicker-popup" class="input-group date datepicker">
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon input-group-append border-left">
                            <span class="mdi mdi-calendar input-group-text"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="col-12 stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Clockpicker (default)</h4>
                                    <p class="card-description">A simple clockpicker</p>
                                    <div class="input-group date" id="timepicker-example" data-target-input="nearest">
                                        <div class="input-group" data-target="#timepicker-example" data-toggle="datetimepicker">
                                            <input type="text" class="form-control datetimepicker-input" data-target="#timepicker-example">
                                            <div class="input-group-addon input-group-append">
                                                <i class="mdi mdi-clock input-group-text"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- content-wrapper ends -->
<!-- partial -->
<!-- main-panel ends -->
<!-- page-body-wrapper ends -->
<!-- container-scroller -->
{% endblock content %}