{% extends "layout.html" %} {% block content %}
<!-- partial -->

    <div class="content-wrapper">
        <div class="row profile-page">
            <div class="col-lg-12 grid-margin stretch-card">
                <!--x-editable starts-->
                <div class="card">
                    <div class="card-body">
                        <legend class="border-bottom mb-4"><i class="menu-icon mdi mdi-wrench"></i> {{ title }}</legend>
                        <div class="profile-header text-white">
                            <div class="d-flex justify-content-around">
                                <div class="profile-info d-flex align-items-center">
                                </div>
                            </div>
                        </div>
                        <div class="profile-body">
                            <!-- <h4 class="card-title"><b><i class="menu-icon mdi mdi-map-marker"></i>{{ title }}</b></h4> -->
                            <form method="POST" action="">
                                {{ form.hidden_tag() }}
                                {{ form.csrf_token }}
                                <fieldset class="form-group">
                                    <div class="form-group row col-md-6"">
                                        {{ form.house_id.label(class="col-sm-3 col-form-label") }} 
                                        {% if form.house_id.errors %} 
                                            {{ form.house_id(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                            {% for error in form.house_id.errors %}
                                                <span>{{ error }}</span> 
                                            {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.house_id(class="col-md-6 form-control") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group row col-md-6"">
                                        {{ form.maintenanceunit_id.label(class="col-sm-3 col-form-label") }} 
                                        {% if form.maintenanceunit_id.errors %} 
                                            {{ form.maintenanceunit_id(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                            {% for error in form.maintenanceunit_id.errors %}
                                                <span>{{ error }}</span> 
                                            {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.maintenanceunit_id(class="col-md-6 form-control") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group row col-md-6"">
                                        {{ form.price.label(class="col-sm-3 col-form-label") }} 
                                        {% if form.price.errors %} 
                                            {{ form.price(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                            {% for error in form.price.errors %}
                                                <span>{{ error }}</span> 
                                            {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.price(class="col-md-6 form-control") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group row col-md-6"">
                                        {{ form.note.label(class="col-sm-3 col-form-label") }} 
                                        {% if form.note.errors %} 
                                            {{ form.note(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                            {% for error in form.note.errors %}
                                                <span>{{ error }}</span> 
                                            {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.note(class="col-md-6 form-control") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group row col-md-6"">
                                        {{ form.maintenance_note.label(class="col-sm-3 col-form-label") }} 
                                        {% if form.maintenance_note.errors %} 
                                            {{ form.maintenance_note(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                            {% for error in form.maintenance_note.errors %}
                                                <span>{{ error }}</span> 
                                            {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.maintenance_note(class="col-md-6 form-control") }}
                                        {% endif %}
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                    {{ form.submit(class="btn btn-outline-primary") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--x-editable ends-->
        </div>
    </div>

<!-- content-wrapper ends -->
<!-- partial -->
<!-- main-panel ends -->
<!-- page-body-wrapper ends -->
<!-- container-scroller -->
{% endblock content %}