{% extends "layout.html" %} {% block content %}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row profile-page">
            <div class="col-lg-12 grid-margin stretch-card">
                <!--x-editable starts-->
                <div class="card">
                    <div class="card-body">
                        <div class="profile-header text-white">
                            <div class="d-flex justify-content-around">
                                <div class="profile-info d-flex align-items-center">
                                </div>
                            </div>
                        </div>
                        <div class="profile-body">
                            <h4 class="card-title"><strong>租户资料</strong></h4>
                            <form class="form-sample">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">姓名</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" placeholder="欧阳小雪"> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">性别</label>
                                            <div class="col-sm-9">
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>先生</option>
                                                    <option>女士</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">家庭住址</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" placeholder="浙江省嘉善县罗星街道嘉善大道08号"> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">联系电话</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" placeholder="1385800xxx6"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">证件类型</label>
                                            <div class="col-sm-9">
                                                <select class="form-control">
                                                    <option>身份证</option>
                                                    <option>营业执照</option>
                                                    <option>驾驶证</option>
                                                    <option>结婚证</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">证件号码</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" placeholder="3304119xxxxxxxxxx"> </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-description"> </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">所在单位</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" placeholder="嘉善拓展图文制作有限公司"> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">单位地址</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" placeholder="浙江省嘉善县罗星街道嘉善大道08号"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">省份</label>
                                            <div class="col-sm-9">
                                                <select class="form-control">
                                                    <option>浙江</option>
                                                    <option>上海</option>
                                                    <option>江苏</option>
                                                    <option>安徽</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">城市</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" placeholder="嘉善县"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title d-flex">证件01
                      <small class="ml-auto align-self-end">
                        <a href="dropify.html" class="font-weight-light" target="_blank">hello, world!</a>
                      </small>
                    </h4>
                                                <input type="file" class="dropify" /> </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title d-flex">证件02
                      <small class="ml-auto align-self-end">
                      </small>
                    </h4>
                                                <input type="file" class="dropify" /> </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--x-editable ends-->
        </div>
    </div>
    </form>
</div>
<!-- content-wrapper ends -->
<!-- partial -->
<!-- main-panel ends -->
<!-- page-body-wrapper ends -->
<!-- container-scroller -->
{% endblock content %}