{% extends "layout.html" %} {% block content %}
<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <legend class="border-bottom mb-4"><i class="menu-icon mdi mdi-ribbon"></i> {{ title }}</legend>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="order-listing" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>租户编号</th>
                                    <th>租户名称</th>
                                    <th>证件号码</th>
                                    <th>联系电话</th>
                                    <th>联系地址</th>
                                    <th>备注信息</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for customer in customers %}
                                <tr role="row" class="odd">
                                    <td class="sorting_1">
                                        <a href="{{ url_for('posts.customer_info', customer_id=customer.id) }}" >{{ customer.id }}</a>
                                    </td>
                                    <td>{{ customer.name }}</td>
                                    <td>{{ customer.cardid }}</td>
                                    <td>{{ customer.phone }}</td>
                                    <td>{{ customer.address }}</td>
                                    <td>{{ customer.note }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <button id="exportButton" class="btn btn-outline-primary">导出记录</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='assets/js/exportcsv/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/exportcsv/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/exportcsv/shieldui-all.min.js') }}"></script>
<script type="text/javascript">
jQuery(function($) {
    $("#exportButton").click(function() {
        // parse the HTML table element having an id=order-listing
        var dataSource = shield.DataSource.create({
            data: "#order-listing",
            schema: {
                type: "table",
                fields: {
                    租户编号: { type: String },
                    租户名称: { type: String },
                    证件号码: { type: String },
                    联系电话: { type: String },
                    联系地址: { type: String },
                    备注信息: { type: String }
                }
            }
        });

        // when parsing is done, export the data to Excel
        dataSource.read().then(function(data) {
            new shield.exp.OOXMLWorkbook({
                author: "PrepBootstrap",
                worksheets: [{
                    name: "PrepBootstrap Table",
                    rows: [{
                        cells: [{
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "租户编号"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "租户名称"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "证件号码"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "联系电话"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "联系地址"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "备注信息"
                            }
                        ]
                    }].concat($.map(data, function(item) {
                        return {
                            cells: [
                                { type: String, value: item.租户编号 },
                                { type: Number, value: item.租户名称 },
                                { type: String, value: item.证件号码 },
                                { type: String, value: item.联系电话 },
                                { type: String, value: item.联系地址 },
                                { type: String, value: item.备注信息 }
                            ]
                        };
                    }))
                }]
            }).saveAs({
                fileName: "租户列表"
            });
        });
    });
});
</script>
{% endblock content %}