{% extends "layout.html" %} {% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-cube text-danger icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <h5 class="mb-5 text-right">合同总计: <b>{{contract_counts}}</b></h5>
                            <div class="fluid-container">
                                <p class="text-right mb-0">已逾期：<font color="red"><b>{{contract_expired}} </b></font> </p>
                                <p class="text-right mb-0">7天内逾期：<b>{{contract_expired_7d}}</b></p>
                                <p class="text-right mb-0">30天内逾期：<b>{{contract_expired_30d}}</b></p>
                                <p class="font-weight-medium text-right mb-0">-</p>
                            </div>
                        </div>
                    </div>               
                    <p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true" " ></i> <small><a href="{{ url_for('posts.contract_normal') }}" >click for detail</a></small> </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-receipt text-warning icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <h5 class="mb-5 text-right">房源统计：<b>{{house_counts}}</b></h5>
                            <div class="fluid-container">
                                <p class="font-weight-medium text-right mb-0">已租：<b>{{contract_counts}}</b> </p>
                                <p class="font-weight-medium text-right mb-0">空置：<b>{{house_free_counts}}</b> </p>
                                <p class="text-right mb-0">-</p>
                                <p class="text-right mb-0">-</p>   
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true" " ></i> <small><a href="{{ url_for('posts.resource_list') }}" >click for detail</a></small> </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-poll-box text-success icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <h5 class="mb-5 text-right">维修记录</h5>
                            <div class="fluid-container">
                                <p class="text-right mb-0">待修：<b>{{maintenanceRecs}}</b> </p>
                                <p class="text-right mb-0">结单数：<b>{{maintenancedRecs}}</b> </p>
                                <p class="text-right mb-0">-</p>
                                <p class="text-right mb-0">-</p>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true" " ></i> <small><a href="{{ url_for('posts.maintenanceunit_list') }}" >click for detail</a></small> </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-bank text-success icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <h5 class="mb-5 text-right">资源总计</h5>
                            <div class="fluid-container">
                                <p class="font-weight-medium text-left mb-0">资产评估: <b>{{resourcePriceSum}}</b> 万￥</p>
                                <p class="font-weight-medium text-left mb-0">建筑面积: <b>{{resourceArea1Sum}}</b> ㎡</p>
                                <p class="font-weight-medium text-left mb-0">土地使用权: <b>{{resourceArea2Sum}}</b> ㎡</p>
                                <p class="text-right mb-0">-</p>                             
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true" " ></i> <small><a href="{{ url_for('posts.resource_list') }}" >click for detail</a></small> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-primary mb-5">历年租金统计</h1>
                    <div class="wrapper d-flex justify-content-between">
                        <div class="side-left">
                            <p class="mb-2">总额</p>
                            <p class="display-4 mb-4 font-weight-light">{{billamounts_lastyear}}</p>
                        </div>
                        <div class="side-left">
                            <p class="mb-2">待缴</p>
                            <p class="display-4 mb-4 font-weight-light">{{unpaid_lastyear}}</p>
                        </div>
                        <div class="side-left">
                            <p class="mb-2">实收</p>
                            <p class="display-4 mb-4 font-weight-light">{{paid_lastyear}}</p>
                        </div>
                        <div class="side-right">
                            <small class="text-muted">{{lastYear}}年度</small>
                        </div>
                    </div>
                    <div class="wrapper d-flex justify-content-between">
                        <div class="side-left">
                            <p class="mb-2">总额</p>
                            <p class="display-4 mb-5 font-weight-light">{{billamounts_thisyear}}</p>
                        </div>
                        <div class="side-left">
                            <p class="mb-2">待缴</p>
                            <p class="display-4 mb-5 font-weight-light">{{unpaid_thisyear}}</p>
                        </div>
                        <div class="side-left">
                            <p class="mb-2">实收</p>
                            <p class="display-4 mb-5 font-weight-light">{{paid_thisyear}}</p>
                        </div>
                        <div class="side-right">
                            <small class="text-muted">{{thisYear}}年度</small>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">{{lastYear}}</p>
                            <p class="mb-2 text-primary">0w</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="wrapper mt-4">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">{{thisYear}}</p>
                            <p class="mb-2 text-success">{{billamounts_thisyear}}w</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 20%" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
            <div class="row flex-grow">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card card-revenue">
                        <div class="card-body d-flex align-items-center">
                            <div class="d-flex flex-grow">
                                <div class="mr-auto">
                                    <p> 本月应收 </p>
                                    <p class="highlight-text mb-0"> {{billamounts_thisyear}} 万元</p>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 stretch-card">
                    <div class="card card-revenue-table">
                        <div class="card-body">
                            <div class="revenue-item d-flex">
                                <div class="revenue-desc">
                                    <h6>待缴</h6>
                                    <small>保持笑容，把美留住。 </small>
                                </div>
                                <div class="revenue-amount">
                                    <p class="text-primary"> {{unpaid_billamounts_thismonth}} 万元</p>
                                </div>
                            </div>
                            <div class="revenue-item d-flex">
                                <div class="revenue-desc">
                                    <h6>实收</h6>
                                    <small>注：当月帐单收款总计</small>
                                </div>
                                <div class="revenue-amount">
                                    <p class="text-primary"> + {{paid_billamounts_thismonth}} 万元</p>
                                </div>
                            </div>
                            <div class="revenue-item d-flex">
                                <div class="revenue-desc">
                                    <h6>其他</h6>
                                    <small>注：本月补缴或提前预收金额总计</small>
                                </div>
                                <div class="revenue-amount">
                                    <p class="text-primary"> 
                                    {% if paid_billamounts_notthismonth %} 
                                    + {{paid_billamounts_notthismonth}} 万元
                                    {% else %}
                                    0
                                    {% endif%}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-account-location text-info icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-3 text-right">管理员人数 <a class="nav-link" href="{{url_for('posts.account_list')}}">{{user_counts}}</a> </p>
                        </div>
                    </div>
                </div>
                    <small class=" mb-4">最近登录时间</small>
                    <div class="new-accounts">
                        <ul class="chats">
                            {% for user in users_recently_visited%}
                            <li class="chat-persons">
                                <a href="#">
                            <span class="pro-pic">
                              <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt=""> </span>
                            <div class="user">
                              <p class="u-name">{{user.username}}</p>
                              <p class="u-designation">{{user.login_ip}}</p>
                            </div>
                            <p class="joined-date">{{user.last_login}}</p>
                          </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}