<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <!-- plugins:css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/vendors/iconfonts/puse-icons-feather/feather.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/vendors/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/vendors/css/vendor.bundle.addons.css') }}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/shared/style.css') }}">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/demo_1/style.css') }}">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.png') }}">

    <body>
        <div class="container-scroller">
            <!-- partial:../../partials/_navbar.html -->
            <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                    <a class="navbar-brand brand-logo" href="{{ url_for('main.dashboard') }}">
            <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="logo" /> </a>
                    <a class="navbar-brand brand-logo-mini" href="{{ url_for('main.dashboard') }}">
            <img src="{{ url_for('static', filename='assets/images/logo-mini.png') }}" alt="logo" /> </a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown ml-4">
                            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count bg-success">4</span>
              </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
                                <a class="dropdown-item py-3 border-bottom">
                                    <p class="mb-0 font-weight-medium float-left">您有4条系统消息</p>
                                    <span class="badge badge-pill badge-primary float-right">查看全部</span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown d-none d-xl-inline-block">
                            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <span class="profile-text">Hello, 秋天的树</span>
                <img class="img-xs rounded-circle" src=".{{ url_for('static', filename='assets/images/faces/bear.png') }}" alt="Profile image"> </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                                <a class="dropdown-item"> 账户注销 </a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="icon-menu"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:../../partials/_sidebar.html -->
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#dashboard-dropdown" aria-expanded="false" aria-controls="dashboard-dropdown">
                <i class="menu-icon mdi mdi-television"></i>
                <span class="menu-title">统计信息</span>
                <i class="menu-arrow"></i>
              </a>
                            <div class="collapse" id="dashboard-dropdown">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('main.dashboard') }}">仪表盘</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">系统告警</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="false" aria-controls="page-layouts">
                <i class="menu-icon mdi mdi-notification-clear-all"></i>
                <span class="menu-title">资产信息</span>
                <i class="menu-arrow"></i>
              </a>
                            <div class="collapse" id="page-layouts">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('main.house') }}">资产录入</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('main.hlist') }}">资产查询</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                <i class="menu-icon mdi mdi-backup-restore"></i>
                <span class="menu-title">租户信息</span>
                <i class="menu-arrow"></i>
              </a>
                            <div class="collapse" id="form-elements">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('main.customer') }}">租户登记</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('main.clist') }}">租户查询</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false" aria-controls="ui-advanced">
                <i class="menu-icon mdi mdi-lightbulb-outline"></i>
                <span class="menu-title">合同管理</span>
                <i class="menu-arrow"></i>
              </a>
                            <div class="collapse" id="ui-advanced">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">合同查询</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">合同变更</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#editors" aria-expanded="false" aria-controls="editors">
                <i class="menu-icon mdi mdi-backup-restore"></i>
                <span class="menu-title">数据查询</span>
                <i class="menu-arrow"></i>
              </a>
                            <div class="collapse" id="editors">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">租用历史</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">欠费查询</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('main.map') }}">房源分布</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="menu-icon mdi mdi-code-brackets"></i>
                <span class="menu-title">系统管理</span>
                <i class="menu-arrow"></i>
              </a>
                            <div class="collapse" id="charts">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">账号管理</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">收费管理</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">其他设置</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- partial -->
                <div class="main-panel">
                    {% block content %}{% endblock %}
                    <div class="content-wrapper"> </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../partials/_footer.html -->
                    <footer class="footer">
                        <div class="container-fluid clearfix">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018 
                <a href="http://www.bootstrapdash.com/" target="_blank">嘉善国有资产投资有限公司</a>.版权所有.</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">秋天的树 &  668105
                <i class="mdi mdi-heart text-danger"></i>
              </span>
                        </div>
                    </footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="{{ url_for('static', filename='assets/vendors/js/vendor.bundle.base.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/vendors/js/vendor.bundle.addons.js') }}"></script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script src="{{ url_for('static', filename='assets/js/shared/off-canvas.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/shared/hoverable-collapse.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/shared/misc.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/shared/settings.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/shared/todolist.js') }}"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="static/assets/js/shared/formpickers.js"></script>
        <script src="static/assets/js/shared/form-addons.js"></script>
        <script src="static/assets/js/shared/x-editable.js"></script>
        <script src="static/assets/js/shared/dropify.js"></script>
        <script src="static/assets/js/shared/dropzone.js"></script>
        <script src="static/assets/js/shared/jquery-file-upload.js"></script>
        <script src="static/assets/js/shared/form-repeater.js"></script>
        <script src="static/assets/js/shared/data-table.js"></script>
        <script src="static/assets/js/shared/owl-carousel.js"></script>
        <!-- 
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnT63XUjqjPgXZ0lFTU_pdpfUX7swzTTM&callback=initMap"></script>
    <script async defer src="https://maps.google.cn/maps/api/js?key=AIzaSyCnT63XUjqjPgXZ0lFTU_pdpfUX7swzTTM&callback=initMap"></script>
     -->
        <script async defer src="http://ditu.google.cn/maps/api/js?key=AIzaSyBY7shfo3d0u_3tkZXQMeX8KcD5gqiFRaQ&callback=initMap"></script>
        <script src="static/assets/js/shared/google-maps.js"></script>
        <!-- End custom js for this page-->
    </body>

</html>
