{% extends "layout.html" %} {% block content %}
<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <legend class="border-bottom mb-4"><i class="menu-icon mdi mdi-bank"></i> {{ title }}</legend>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="order-listing" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>小区名称</th>
                                    <th>权利人</th>
                                    <th>不动产权证号</th>
                                    <th>坐落</th>
                                    <th>建筑面积</th>
                                    <th>土地面积</th>
                                    <th>评估值</th>
                                    <th>备注信息</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for list in lists %}
                                <tr role="row" class="odd">
                                    <td>{{ list.garden_name }}</td>
                                    <td>{{ list.landlord_name }}</td>
                                    <td>
                                        {% if list.resource_id %}
                                        <a href="{{ url_for('posts.resource_info', resource_id=list.resource_id) }}" >{{ list.cardid }}</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ list.address }}</td>
                                    <td>{{ list.area1 }}</td>
                                    <td>{{ list.area2 }}</td>
                                    <td>{{ list.price }}</td>
                                    <td>{{ list.note }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <button id="exportButton" class="btn btn-outline-primary">导出记录</button>
                    <p><br><small>注: 上面列表中"建筑面积"和"土地面积"单位均为"㎡"，"评估值"单位为"万元"<small></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='assets/js/exportcsv/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/exportcsv/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/exportcsv/shieldui-all.min.js') }}"></script>
<script type="text/javascript">
jQuery(function($) {
    $("#exportButton").click(function() {
        // parse the HTML table element having an id=order-listing
        var dataSource = shield.DataSource.create({
            data: "#order-listing",
            schema: {
                type: "table",
                fields: {
                    小区名称: { type: String },
                    权利人: { type: String },
                    不动产权证号: { type: String },
                    坐落: { type: String },
                    建筑面积: { type: String },
                    土地面积: { type: String },
                    评估值: { type: String },
                    备注信息: { type: String }
                }
            }
        });

        // when parsing is done, export the data to Excel
        dataSource.read().then(function(data) {
            new shield.exp.OOXMLWorkbook({
                author: "PrepBootstrap",
                worksheets: [{
                    name: "PrepBootstrap Table",
                    rows: [{
                        cells: [{
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "小区名称"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "权利人"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "不动产权证号"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "坐落"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "建筑面积"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "土地面积"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "评估值"
                            },
                            {
                                style: {
                                    bold: true
                                },
                                type: String,
                                value: "备注信息"
                            }
                        ]
                    }].concat($.map(data, function(item) {
                        return {
                            cells: [
                                { type: String, value: item.小区名称 },
                                { type: Number, value: item.权利人 },
                                { type: String, value: item.不动产权证号 },
                                { type: String, value: item.坐落 },
                                { type: String, value: item.建筑面积 },
                                { type: String, value: item.土地面积 },
                                { type: String, value: item.评估值 },
                                { type: String, value: item.备注信息 }
                            ]
                        };
                    }))
                }]
            }).saveAs({
                fileName: "资产列表"
            });
        });
    });
});
</script>
{% endblock content %}

